<app-navbar [cart]="cart" ></app-navbar>
<!-- contenedor padre -->
<div class="px-8">
  <!-- contenedor -->
  <div class="w-full">
    <h1 class="text-center">Lista de productos</h1>
  </div>
  <div class="ml-8 grid">
    <div *ngFor="let product of apiResponse.products" class="m-4 p-4">
      <div class="mb-3 overflow-hidden rounded-2xl">
        <img src="{{ product.img }}" alt="Ron" width="250px" height="250px">
      </div>
      <div>
        <h2 class="text-center">{{ product.title }}</h2>
      </div>
      <div>
        <p class="text-center">{{ product.price }} usd</p>
      </div>
      <div class="flex justify-center mt-4">
        <button (click)="addToCart(product.title, product.price, product.img)" pButton type="button" class="m-auto text-md">Agregar al carrito</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
